h1 {
    color: dodgerblue;
    font-family: monospace;
}

h3 {
    color: indigo;
    font-family: monospace;
}

span {
    color: dimgray;
    font-family: Arial;
    font-size: 12px;
}

.destaque {
    background-color: yellow;
}

#destaqueEspecial {
    background-color: aquamarine;
}